# Configuration file

modules {
    B:Aesthetics=true
    B:Diving=true
    B:Factory=true
    B:Fishery=true
    B:Magic=true
    B:Transport=true
    B:"World Plus"=true
}


plugins {
    B:Enchiridion=true
    B:ModdedTweaks=true
}


